@model KNDBsys.ViewModel.MainView.Mainmenu
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainView</title>
    @Styles.Render("~/Content/easyuicss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyuijs")
    <script src="~/Scripts/home.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            LoadAuth();

            bindTreeClick();

        });

        function LoadAuth() {
            var uid = @Model.LoginUser.id
            $.post("./GetAuthoriy", { userid: uid, port: "Web" }, function (result) {
                var str = JSON.parse(result);
                $("#maintree").tree({
                    data: str
                });
            });
        }

        function bindTreeClick() {
            $("#maintree").tree({
                onClick: function (node) {
                    $("#maintree").tree(node.state === 'closed' ? 'expand' : 'collapse', node.target);
                    node.state = node.state === 'closed' ? 'open' : 'closed';
                    var url = node.attributes.url;
                    if (url.length > 0) {
                        addTab(node.text, url, node.iconCls);
                    }
                }
            });
        }

    </script>

    <style type="text/css">


    </style>


</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false,split:false" style="height: 60px;">
        <div class="define-head">
            <div class="define-logo">
                <div id="LoginTopLine">Hello @Model.LoginUser.Uname</div>
                <div id="LoginBotoomLine"> @Model.LoginUser.UPost</div>
            </div>
            <div class="define-account">

            </div>
        </div>
    </div>

    <div data-options="region:'west',split:true,title:'功能列表'" style="width:200px;">
        <div class="easyui-panel" style="padding:5px">
            <ul id="maintree" class="easyui-tree" data-options="animate:true,dnd:true,lines:true,fit:true"></ul>
        </div>


    </div>
    <div data-options="region:'east',split:true,collapsed:true,title:'通讯'" style="width:100px;padding:10px;">
        east region
    </div>
    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">
        <div style="text-align:center">
            <a href="#" id="btn_out" class="easyui-linkbutton" onclick="LoadAuth()" style="width:120px">注销</a>
        </div>
    </div>

    <div data-options="region:'center',title:'主界面'" style="margin :0 auto ;">

        <div id="mainTab" class="easyui-tabs" data-options="fit:true">
            <div title="我的桌面" class="tabs-selected" style="overflow: hidden; background:#fff">
                <iframe scrolling="auto" frameborder="0" src="" style="width: 100%; height: 100%;"></iframe>
            </div>
        </div>

    </div>

    <div id="tab_menu" class="easyui-menu" style="width: 150px;">
        <div id="tab_menu-tabrefresh" data-options="iconCls:'icon-reload'">
            刷新
        </div>
        <div id="tab_menu-openFrame">
            在新的窗体打开
        </div>
        <div id="tab_menu-tabcloseall">
            关闭所有
        </div>
        <div id="tab_menu-tabcloseother">
            关闭其他标签页
        </div>
        <div class="menu-sep">
        </div>
        <div id="tab_menu-tabcloseright">
            关闭右边
        </div>
        <div id="tab_menu-tabcloseleft">
            关闭左边
        </div>
        <div id="tab_menu-tabclose" data-options="iconCls:'icon-remove'">
            关闭
        </div>
        <div id="menu" class="easyui-menu" style="width: 150px;">
        </div>
    </div>

</body>
</html>
