<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewBag.Title</title>


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/easyuicss")
    @Styles.Render("~/Content/jqueryuicss")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/easyuijs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryuijs")
    @Scripts.Render("~/bundles/AngularJS")
    @Scripts.Render("~/bundles/chartjs")

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
